body {
  padding: 50px;
  font-family: "comic sans ms";
  background-color: #ffffff;
  background-image:url('octohaack.jpg')
}

.list-group-item {
  background-color: red;
}

.list-group-item:hover {
  background-color: orange;
}
