body {
  font-family: sans-serif;
  font-size: 13px;
  background-color: #ffffff;
}

header {
    background-color: rgb(163, 73, 164);
    color: #fff;
    padding: 1em;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 2px #ddd;
}

h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

}
